#dt1{color: #83d84e; height:100%; font-size:1.5cm; font-weight: 1000; font-family: Arial, Helvetica, sans-serif; display: flex; justify-content: center; margin: 0; align-items: center;}
body{background-image: url(/assets/img/sky.jpg); background-size: cover; background-position: center; background-repeat: no-repeat;}
#dd1{color: rgba(255, 255, 255, 0.938); height:100%; font-size: 1cm; font-family: Arial, Helvetica, sans-serif; display: flex; justify-content: center; margin: 0; align-items: center;}
#dt2{color: #83d84e; font-size: 1cm; font-weight: 1000; font-family: Arial, Helvetica, sans-serif;}
#dd2{color: rgba(255, 255, 255, 0.938); font-size: 1cm; font-family: Arial, Helvetica, sans-serif;}
#dt3{color: #83d84e; font-size: 1cm; font-weight: 1000; font-family: Arial, Helvetica, sans-serif;}
#dd3{color: rgba(255, 255, 255, 0.938); font-size: 1cm; font-family: Arial, Helvetica, sans-serif;}
#dt4{color: #83d84e; font-size: 1cm; font-weight: 1000; font-family: Arial, Helvetica, sans-serif;}
#dd4{color: rgba(255, 255, 255, 0.938); font-size: 0.5cm; font-family: Arial, Helvetica, sans-serif;}
figcaption{color: #93d84e; font-size: 1cm; font-weight: 1000; font-family: Arial, Helvetica, sans-serif;}
#grphoto{scale: 2;}
table{color: yellow; border-color: green; border-collapse: collapse; font: size 0.5cm;}
td, th{border: 2px solid green}
footer{color: #83d84e; font-size: 0/5cm; font-weight: 1000; font-family: Arial, Helvetica, sans-serif;}
footer a{color: white}




