
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Ramabhadra');
@import url(https://fonts.googleapis.com/css?family=Righteous);

html {
    scrollbar-width: thin;
    scrollbar-color: #555555 transparent;
}

body {
    display: flex;
    background-color: #141414;
    flex-direction: column;
    font-family: 'Ramabhadra', sans-serif;
    margin: 0;
}

/* HEADER SECTION */

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    background-color: #242424;
    padding: 5px 30px;
}

.header-logo {
    display: flex;
    align-items: center;
    font-size: 38px;
    color: white;
    font-family: 'Ramabhadra', sans-serif;
}

.header-logo img {
    width: 38px;
    height: 60px;
    object-fit: cover;
    margin: 0 5px;
}

/* NAV BAR SECTION FOR HEADER */

.nav-bar {
    display: flex;
    gap: 10px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    width: 115px;
}

.nav-item:hover {
    background-color: #007bff;
    scale: 1.1;
}

.nav-item p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Righteous', sans-serif;
    transition: 0.3s ease-in-out;
}

.nav-item p[name=main] {
    font-size: 16px;
    font-weight: bold;
    transform: translateY(10px);
}

.nav-item p[name=sub] {
    opacity: 0;
    font-size: 10px;
    transform: translateY(15px);
    transition: 0.3s ease-in-out;
}

.nav-item:hover p[name=main] {
    transform: translateY(-5px);
}

.nav-item:hover p[name=sub] {
    opacity: 1;
    transform: translateY(-5px);
}

.enhancement {
    width: 155px;
}

/* BANNER SECTION */

.banner-container {
    position: relative;
    height: 500px;
    font-weight: bold;
}

.banner-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-top: 50px;
    margin-left: 30px;
    z-index: 50;
    transform: translateX(-100%); 
    animation: backInFromLeft 1s forwards; 
}

@keyframes backInFromLeft {
    0% {
        transform: translateX(-100%); 
        opacity: 0; 
    }
    100% {
        transform: translateX(0); 
        opacity: 1;
    }
}

.sub-title {
    font-size: 20px;
    color: #0ea5e9;
}

.main-title {
    font-size: 32px;
    color: black;
    line-height: 1.25;
}

.description {
    background-color: transparent;
    width: 450px;
    height: 100px;
    font-size: 15px;
    font-family: 'Courier New', monospace;
    margin-top: 15px;
    margin-left: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    font-family: 'Courier New', monospace;
    margin-top: 15px;
    margin-left: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #007bff;
}

.btn-success {
    background-color: #28a745;
    margin-left: 50px;
}

.btn:hover {
    opacity: 0.8;
}

.banner-image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

/* HORIZONTAL LINE DEVIDER */

.divider-container {
    display: flex;
    align-items: center;
    height: 2px;
    margin: 40px;
}

.hr {
    flex-grow: 1;
    height: 2px;
    background-color: #565656;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1;
    }
}

/* CONTENT SECTION */

.content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 1920px;
    background-color: #141414;
}

.intro-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 750px;
}

.intro-image {
    width: 750px;
    height: 100%;
    object-fit: cover;
}

.intro-content {
    display: flex;
    align-items: center;
    background-color: #292929;
    color: #ffffff;
    padding: 20px;
    flex-grow: 1;
}

.intro-content-container {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    transform: translateX(100%);
    animation: backInFromRight 1s forwards;
}

@keyframes backInFromRight {
    100% {
        transform: translateX(0); 
        opacity: 1; 
    }
}

.intro-title {
    font-size: 36px;
    color: #ffffff;
    font-family: 'Ramabhadra', sans-serif;
    font-weight: bold;
}

.intro-description {
    font-size: 18px;
    color: #ffffff;
    font-family: 'Courier New', monospace;
    margin-top: 10px;
}

.menu-container {
    display: flex;
    flex-direction: column;
    width: 1450px;
    height: 1500px;
    color: #ffffff;
    margin: 0px 40px 40px 40px;
    padding: 10px;
}

.menu-header {
    width: 100%;
    height: 75px; /* Fixed height for header */
    margin-bottom: 20px;
}

.header-title {
    font-size: 36px;
    font-family: 'Ramabhadra', sans-serif;
    line-height: 1;
    margin: 0;
}

.header-description {
    font-size: 18px;
    font-family: 'Courier New', monospace;
}

.menu-row-container {
    display: flex;
    width: 100%;
    height: 50%;
}

.menu-description-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 5px;
    margin: 0 10px 10px 10px;
    border-radius: 10px;
    background-color: #292929;
    transition: 0.3s ease-in-out;
}

.menu-description-container:hover {
    border: 2px solid #333333;
    scale: 1.02
}

.menu-description-container img {
    width: 690px;
    height: 400px;
    max-height: 400px;
}

.menu-description-container img {
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
}

.card-title, .card-description {
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
}

.card-title {
    margin-left: 5px;
    font-size: 24px; /* Title font size */
    font-family: 'Ramabhadra', sans-serif; /* Font family */
    transition: 0.5s ease-in-out;
}

.menu-description-container:hover .card-title {
    color: #007bff;

}

.card-description {
    margin-left: 15px;
    font-size: 18px; /* Description font size */
    font-family: 'Courier New', monospace; /* Font family */
    transition: 1s ease-in-out;
}

.menu-description-container:hover .card-description {
    text-decoration: underline;
}

/* FOOTER SECTION */

.footer {
    position: relative;
    height: 70px;
    border-top: 2px solid #333333;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: #202020;
    padding-left: 50px;
    padding-right: 50px;
}

.copyright {
    margin-top: 15px;
    color: #878787;
    font-size: 14px;
}

.link {
    color: #007bff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-menu li {
    margin-left: 20px;
}

.footer-menu li a {
    color: #878787;
    text-decoration: none;
    font-size: 14px;
}

.footer-menu li a:hover {
    color: #ff5e14;
    text-decoration: underline;
}
