@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Ramabhadra');
@import url('https://fonts.googleapis.com/css?family=Righteous');

html {
    scrollbar-color: #555555 transparent;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

body {
    background-color: #1a1a1a;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    background-color: #242424;
    padding: 5px 30px;
    animation: fadeIn 0.5s ease-in-out;
}

.header-logo {
    display: flex;
    align-items: center;
    font-size: 38px;
    color: white;
    font-family: 'Ramabhadra', sans-serif;
}

.header-logo img {
    width: 38px;
    height: 60px;
    object-fit: cover;
    margin: 0 5px;
}

.nav-bar {
    display: flex;
    gap: 10px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    width: 115px;
}

.nav-item:hover {
    background-color: #007bff;
    scale: 1.1;
}

.nav-item p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Righteous', sans-serif;
    transition: 0.3s ease-in-out;
}

.nav-item p[name=main] {
    font-size: 16px;
    font-weight: bold;
    transform: translateY(10px);
}

.nav-item p[name=sub] {
    opacity: 0;
    font-size: 10px;
    transform: translateY(15px);
    transition: 0.3s ease-in-out;
}

.nav-item:hover p[name=main] {
    transform: translateY(-5px);
}

.nav-item:hover p[name=sub] {
    opacity: 1;
    transform: translateY(-5px);
}

.enhancement {
    width: 155px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #007bff;
}

.job-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.job-listing {
    flex: 0 0 calc(32% - 20px);
    margin: 19px;
    padding: 15px;
    border: 1px solid #444;
    border-radius: 10px;
    background-color: #2a2a2a;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    height: auto;
    box-sizing: border-box;
    animation: slideInRight 0.5s ease-in-out;
    font-family: 'Montserrat', sans-serif;
}

.job-listing:nth-child(even) {
    animation: slideInLeft 0.5s ease-in-out;
}

.job-listing:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.job-listing img {
    max-width: 100%;
    width: 450px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: transform 0.3s;
}

.job-listing h2 {
    font-size: 1.5em;
    color: #ffffff;
    margin: 5px 0;
}

.job-listing h3 {
    font-size: 1.2em;
    color: #ffffff;
    margin: 5px 0;
}

.job-listing p {
    margin: 0;
    font-size: 1em;
    color: #d0d0d0;
    margin-bottom: 5px;
    padding-left: 20px;
}

.job-listing ol, .job-listing ul {
    color: #d0d0d0;
    margin: 5px 0;
    height: 100px;
    overflow-y: auto;
}

.job-listing button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1em;
    margin-top: auto;
}

.job-listing button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.job-listing button a {
    color: white;
    text-decoration: none;
}

.divider-container {
    display: flex;
    align-items: center;
    height: 2px;
    margin: 40px 0;
}

.hr {
    flex-grow: 1;
    height: 2px;
    background-color: #565656;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}

table {
    border-collapse: collapse;
    border-radius: 10px;
    margin: 20px 0;
    overflow: hidden;
    width: 100%;
}

th, td {
    color: white;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #007bff;
}

td {
    border: 1px solid #555;
}

.footer {
    position: relative;
    height: 70px;
    border-top: 2px solid #333333;
    animation: fadeIn 0.5s ease-in-out;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: #202020;
    padding-left: 50px;
    padding-right: 50px;
}

.copyright {
    margin-top: 15px;
    color: #878787;
    font-size: 14px;
}

.link {
    color: #007bff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-menu li {
    margin-left: 20px;
}

.footer-menu li a {
    color: #878787;
    text-decoration: none;
    font-size: 14px;
}

.footer-menu li a:hover {
    color: #ff5e14;
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
