@keyframes backInFromLeft {
    0% {
        transform: translateX(-100%); 
        opacity: 0; 
    }
    100% {
        transform: translateX(0); 
        opacity: 1;
    }
}

@keyframes backInFromRight {
    0% {
        transform: translateX(100%); 
        opacity: 0; 
    }
    100% {
        transform: translateX(0); 
        opacity: 1; 
    }
}

body {
    background-color: #141414	;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    background-color: #242424;
    border-radius: 10px;
    /* padding: 5px 30px; */
}

.logo {
    display: flex;
    align-items: center;
    font-size: 38px;
    color: white;
    font-family: 'Ramabhadra', sans-serif;
}

.logo img {
    width: 38px;
    height: 60px;
    object-fit: cover;
    margin: 0 5px;
}

.nav-menu {
    display: flex;
    gap: 10px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    width: 115px;
}

.nav-item:hover {
    background-color: #007bff;
    scale: 1.1;
}

.nav-item p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Righteous', sans-serif;
    transition: 0.3s ease-in-out;
}

.nav-item p[name=main] {
    font-size: 16px;
    font-weight: bold;
    transform: translateY(10px);
}

.nav-item p[name=sub] {
    opacity: 0;
    font-size: 10px;
    transform: translateY(15px);
    transition: 0.3s ease-in-out;
}

.nav-item:hover p[name=main] {
    transform: translateY(-5px);
}

.nav-item:hover p[name=sub] {
    opacity: 1;
    transform: translateY(-5px);
}
.footer {
    position: relative;
    height: 70px; /* Fixed height for the footer */
    border-top: 2px solid #333333; /* Top border */
}

.footer-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px; /* Match the footer height */
    background-color: #202020; /* Background color for the footer */
    align-items: center; /* Center items vertically */
}

.copyright {
    color: #878787; /* Text color */
    font-size: 14px; /* Font size */
    margin-left: 50px; /* Left margin */
}

.link {
    color: #007bff; /* Link color */
    text-decoration: none; /* Remove underline */
}

.link:hover {
    text-decoration: underline; /* Underline on hover */
}

.footer-menu {
    margin-left: auto; /* Push the menu to the right */
    margin-right: 50px; /* Right margin */
}

.footer-menu ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    display: flex; /* Display items in a row */
}

.footer-menu li {
    margin-left: 20px; /* Space between menu items */
}

.footer-menu li a {
    color: #878787; /* Link color */
    text-decoration: none; /* Remove underline */
    font-size: 14px; /* Font size */
}

.footer-menu li a:hover {
    color: #ff5e14; /* Change color on hover */
}

h1 {
    text-align: center;
    color: #f4f4f4;
    position: relative;
    cursor: pointer;
    margin: 100px auto;
}
h1::after{
    content: "";
    position: absolute;
    bottom: -5px;
    height: 2px;
    width: 10%;
    left: 50%;
    margin-left: -5%;
    background-color: #f4f4f4;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    transform: scaleX(0);
}
h1:hover::after {
    transform: scaleX(1);
}
body, h1, h2, p, ul {
    margin: 20px;
    padding: 0;
}
h2 {
    color: #2c3e50;
    border-bottom: 2px solid #333333;
    padding-bottom: 10px;
    margin: 20px 0 10px;
}
.makerting-manager {
    border-radius: 8px;
    margin: 0 60px;
}
.business-analyst {
    border-radius: 8px;
    margin: 0 60px;
}
.software-engineer{
    border-radius: 8px;
    margin: 0 60px;
}

.job-listing {
    display: flex;
    align-items: center;
    background: #f4f4f4;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); }

.left-align {
    flex-direction: row;
    opacity: 0; 
            transform: translateX(-100%); 
            animation: backInFromLeft 1s forwards; 
}

.right-align {
    flex-direction: row-reverse;
    opacity: 0; 
            transform: translateX(100%); 
            animation: backInFromRight 1s forwards; 
}

button {
        background-color: #333333;
        color: white;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 1s;
    }

button a {
    color: #f4f4f4;
    text-decoration: none;
}

button:hover {
    background-color: #000000;
}